# Virtual enviroments
**/*-env/
**/*-venv/

# Plugins
*.jar

# Targets for java
**/target/

# Pycache
**/__pycache__/
.pytest_cache

# Internal for grafana
monitoring/grafana

# Plugins (to avoid any jar file to hit the repo unintentionally)
plugins/