# Virtual enviroments
**/*-env/
**/*-venv/

# Env files
**/.env

# Plugins
*.jar

# Targets for java
**/target/

# Tests
**/__pycache__/
.pytest_cache
tests_end2end/functional/.env

# Internal for grafana
monitoring/grafana

# Plugins (to avoid any jar file to hit the repo unintentionally)
plugins/