# Copyright 2026 Telefónica Soluciones de Informática y Comunicaciones de España, S.A.U.
#
# This file is part of kafnus
#
# kafnus is free software: you can redistribute it and/or
# modify it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# kafnus is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero
# General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with kafnus. If not, see http://www.gnu.org/licenses/.


services:
  orion:
    image: telefonicaiot/fiware-orion:latest
    container_name: orion
    ports:
      - "1026:1026"
    depends_on:
      - mongo
      - kafka
    environment:
      - KAFKA_PORT=29092
    networks:
      - kafka-postgis-net
    command: -dbURI mongodb://mongo:27017
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:1026/version" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s

  mongo:
    image: mongo:8.0
    container_name: mongo
    ports:
      - "27017:27017"
    networks:
      - kafka-postgis-net

networks:
  kafka-postgis-net:
    external: true

