# Copyright 2026 Telefónica Soluciones de Informática y Comunicaciones de España, S.A.U.
#
# This file is part of kafnus
#
# kafnus is free software: you can redistribute it and/or
# modify it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# kafnus is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero
# General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with kafnus. If not, see http://www.gnu.org/licenses/.


networks:
  kafka-postgis-net:
    external: true

services:
  kafka:
    container_name: kafka
    image: apache/kafka:4.1.0
    ports:
      - "9092:9092"
      - "29092:29092"
      - "29093:29093"
    environment:
      - KAFKA_PROCESS_ROLES=controller,broker
      - KAFKA_NODE_ID=1
      - CLUSTER_ID=kafka-docker-cluster-1
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:29093

      - KAFKA_LISTENERS=SASL_PLAINTEXT://0.0.0.0:29092,CONTROLLER://0.0.0.0:29093
      - KAFKA_ADVERTISED_LISTENERS=SASL_PLAINTEXT://kafka:29092
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=SASL_PLAINTEXT:SASL_PLAINTEXT,CONTROLLER:PLAINTEXT
      - KAFKA_INTER_BROKER_LISTENER_NAME=SASL_PLAINTEXT
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER

      # SASL config
      - KAFKA_SASL_ENABLED_MECHANISMS=PLAIN
      - KAFKA_SASL_MECHANISM_INTER_BROKER_PROTOCOL=PLAIN

      - KAFKA_OPTS=-Djava.security.auth.login.config=/opt/kafka/config/kafka_server_jaas.conf

      - KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1

    volumes:
      - ./kafka_server_jaas.conf:/opt/kafka/config/kafka_server_jaas.conf
      - ./client.properties:/opt/kafka/config/client.properties

    networks:
      - kafka-postgis-net
    healthcheck:
      test:
        [
          "CMD",
          "sh",
          "-c",
          "/opt/kafka/bin/kafka-broker-api-versions.sh \
          --bootstrap-server localhost:29092 \
          --command-config /opt/kafka/config/client.properties \
          >/dev/null 2>&1"
        ]
      interval: 5s
      timeout: 5s
      retries: 10

  kafnus-connect:
    container_name: kafnus-connect
    image: kafnus-connect:latest
    ports:
      - "8083:8083"
      - "9100:9100"
    environment:
      CONNECT_BOOTSTRAP_SERVERS: kafka:29092
      CONNECT_REST_PORT: 8083
      CONNECT_GROUP_ID: connect-cluster
      CONNECT_CONFIG_STORAGE_TOPIC: connect-configs
      CONNECT_OFFSET_STORAGE_TOPIC: connect-offsets
      CONNECT_STATUS_STORAGE_TOPIC: connect-status
      CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_STATUS_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_KEY_CONVERTER: org.apache.kafka.connect.storage.StringConverter
      CONNECT_VALUE_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      CONNECT_VALUE_CONVERTER_SCHEMAS_ENABLE: "true"
      CONNECT_PLUGIN_PATH: "/usr/local/share/kafnus-connect/plugins"
      CONNECT_REST_ADVERTISED_HOST_NAME: kafnus-connect
      CONNECT_LOG4J_LOGGERS: "org.reflections=ERROR"
      # Environment variables for sinks in tests
      KAFNUS_TESTS_PG_HOST: iot-postgis
      KAFNUS_TESTS_PG_PORT: "5432"
      KAFNUS_TESTS_PG_DBNAME: tests
      KAFNUS_TESTS_PG_USER: postgres
      KAFNUS_TESTS_PG_PASSWORD: postgres
      KAFNUS_TESTS_MONGO_HOST: mongo
      KAFNUS_TESTS_MONGO_PORT: "27017"

      # Monitoring
      KAFKA_JMX_PORT: 9100
      JMX_PROMETHEUS_PORT: 9100

      # Security
      CONNECT_SECURITY_PROTOCOL: SASL_PLAINTEXT
      CONNECT_SASL_MECHANISM: PLAIN
      CONNECT_SASL_JAAS_CONFIG: >
        org.apache.kafka.common.security.plain.PlainLoginModule required
        username="connect-user"
        password="connect-pass";

      CONNECT_PRODUCER_SECURITY_PROTOCOL: SASL_PLAINTEXT
      CONNECT_PRODUCER_SASL_MECHANISM: PLAIN
      CONNECT_PRODUCER_SASL_JAAS_CONFIG: >
        org.apache.kafka.common.security.plain.PlainLoginModule required
        username="connect-user"
        password="connect-pass";

      CONNECT_CONSUMER_SECURITY_PROTOCOL: SASL_PLAINTEXT
      CONNECT_CONSUMER_SASL_MECHANISM: PLAIN
      CONNECT_CONSUMER_SASL_JAAS_CONFIG: >
        org.apache.kafka.common.security.plain.PlainLoginModule required
        username="connect-user"
        password="connect-pass";
    volumes:
      - ./client.properties:/opt/kafka/config/client.properties
    networks:
      - kafka-postgis-net
