# Copyright 2026 Telefónica Soluciones de Informática y Comunicaciones de España, S.A.U.
#
# This file is part of kafnus
#
# kafnus is free software: you can redistribute it and/or
# modify it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# kafnus is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero
# General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with kafnus. If not, see http://www.gnu.org/licenses/.


name: Run end-to-end tests

permissions:
  contents: read

on:
  push:
     branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  e2e-tests:
    runs-on: ubuntu-24.04
 
    env:
      KAFNUS_TESTS_USE_EXTERNAL_POSTGIS: "false"
      KAFNUS_TESTS_E2E_MANUAL_INSPECTION: "false"
      KAFNUS_TESTS_LOG_LEVEL: DEBUG
      KAFNUS_DBPATH_POSTGIS: /data/postgis
      KAFNUS_POSTGIS_IMAGE: postgis/postgis:15-3.3
      KAFNUS_NGSI_PREFIX_TOPIC: "smc_"
      KAFNUS_NGSI_SUFFIX_TOPIC: "_processed"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Cache Python dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('tests_end2end/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        working-directory: tests_end2end/
        run: |
          python -m venv .venv
          source .venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt
      
      - name: Ensure kafka-postgis-net exists
        run: |
          if ! docker network ls | grep -q kafka-postgis-net; then
            docker network create kafka-postgis-net
          fi
      
      - name: Setup PostGIS data directory
        run: |
          sudo mkdir -p /data/postgis
          sudo chown -R 999:999 /data/postgis

      - name: Pre-pull required docker images
        run: |
          docker pull postgis/postgis:15-3.3
          docker pull apache/kafka:4.1.0
          docker pull telefonicaiot/fiware-orion:latest
          docker pull telefonicaiot/kafnus-connect:latest
          docker pull mongo:8.0

      - name: Build kafnus-ngsi image
        working-directory: kafnus-ngsi
        run: |
          docker build --no-cache -t kafnus-ngsi .
    
      - name: Run end-to-end tests with pytest
        working-directory: tests_end2end/
        run: |
          source .venv/bin/activate
          pytest -s functional/test_pipeline.py
